# Homework 1: Finding Evening Products to Drive Incremental Revenue at Instacart

The problem: early evening hours have delivery / driver availability but the number of orders falls off in the evening hours.  
&nbsp;   
We need to determine which products are being sold in the evening 6PM+ (18-23 in order_hour_of_day) hours so that the team can create new promotions.  To avoid developing a list of niche products we'd like to restrict our analysis to products that are ordered at least 5000 times.    
&nbsp;

![picture](https://raw.githubusercontent.com/brook-miller/msai339-students/main/1-homework/instacart.png)

# Setting up the environment

In [ ]:
#@title installs for sqlalchemy and sqlmagic
!pip install sqlalchemy-redshift --quiet
!pip install redshift_connector --quiet
!pip install ipython-sql --quiet

     |████████████████████████████████| 112 kB 5.4 MB/s
     |████████████████████████████████| 9.2 MB 41.9 MB/s
     |████████████████████████████████| 128 kB 59.9 MB/s
     |████████████████████████████████| 132 kB 69.4 MB/s
     |████████████████████████████████| 79 kB 7.8 MB/s
     |████████████████████████████████| 140 kB 67.0 MB/s
     |████████████████████████████████| 127 kB 48.2 MB/s
     |████████████████████████████████| 105 kB 71.3 MB/s
     |████████████████████████████████| 1.6 MB 5.5 MB/s

In [ ]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
#@title setting up sql connection and sql magic, unique to this lab

import getpass
import sqlalchemy as sa
from sqlalchemy.engine.url import URL
from sqlalchemy import orm as sa_orm

connect_to_db = URL.create(
drivername='redshift+redshift_connector',
host='msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com',
port=5439,
database='dev',
username='msai339',         #username should not be hard coded either
password=getpass.getpass()  #please don't put passwords into code
)

engine = sa.create_engine(connect_to_db)
%reload_ext sql
%sql $connect_to_db

··········

'Connected: msai339@dev'

# Determining evening products

## Show the number of orders by hour of day

In [ ]:
%%sql
SELECT COUNT(*), order_hour_of_day
FROM orders
GROUP BY order_hour_of_day
ORDER BY count;

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(5474, 3),
 (5527, 4),
 (7539, 2),
 (9569, 5),
 (12398, 1),
 (22758, 0),
 (30529, 6),
 (40043, 23),
 (61468, 22),
 (78109, 21),
 (91868, 7),
 (104292, 20),
 (140569, 19),
 (178201, 8),
 (182912, 18),
 (228795, 17),
 (257812, 9),
 (272553, 16),
 (272841, 12),
 (277999, 13),
 (283042, 14),
 (283639, 15),
 (284728, 11),
 (288418, 10)]

Analysis: Most of the people buy things between 10am to 6pm

## Determine the number of products ordered by hour of day

In [ ]:
%%sql
SELECT orders.order_hour_of_day as hours, COUNT(*) as number_of_products
FROM orders
INNER JOIN order_products ON orders.order_id=order_products.order_id
GROUP BY order_hour_of_day
ORDER BY order_hour_of_day;

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(0, 218948),
 (1, 115786),
 (2, 69434),
 (3, 51321),
 (4, 53283),
 (5, 88062),
 (6, 290795),
 (7, 891937),
 (8, 1719973),
 (9, 2456713),
 (10, 2764426),
 (11, 2738582),
 (12, 2620847),
 (13, 2663292),
 (14, 2691548),
 (15, 2664533),
 (16, 2537458),
 (17, 2089465),
 (18, 1637923),
 (19, 1259401),
 (20, 977038),
 (21, 796370),
 (22, 634734),
 (23, 402620)]

Analysis: People buy more products between 10am to 4pm. 4pm-6pm has a high number of orders but comparitively lesser number of products.

## Calculate the basket size (# products / # orders) by hour of day

In [ ]:
%%sql
SELECT orders.order_hour_of_day AS hour, CAST(count(order_products.product_id) AS float) / CAST(count(distinct orders.order_id) AS float) AS basket_size
FROM orders
LEFT JOIN order_products
ON orders.order_id = order_products.order_id
GROUP BY orders.order_hour_of_day
ORDER BY orders.order_hour_of_day;

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(0, 9.6207048071008),
 (1, 9.339086949507985),
 (2, 9.20997479771853),
 (3, 9.375411033978809),
 (4, 9.640492129545866),
 (5, 9.202842512279235),
 (6, 9.525205542271284),
 (7, 9.708897548656768),
 (8, 9.651870640456563),
 (9, 9.52908708671435),
 (10, 9.584790130990438),
 (11, 9.618239161585795),
 (12, 9.605766728607504),
 (13, 9.58022151158817),
 (14, 9.509359035054867),
 (15, 9.394099542023488),
 (16, 9.309961732213551),
 (17, 9.132476671255928),
 (18, 8.954704994751575),
 (19, 8.959308240081384),
 (20, 9.368292870018793),
 (21, 10.195624063808268),
 (22, 10.326251057460793),
 (23, 10.054691206952526)]

Basket size is highest nearing midnight.

## Find the most commonly ordered products

In [ ]:
%%sql
SELECT products.product_name
FROM order_products
INNER JOIN products ON products.product_id = order_products.product_id
GROUP BY order_products.product_id, products.product_name
ORDER BY count(order_products.product_id) DESC
LIMIT 15

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana',),
 ('Bag of Organic Bananas',),
 ('Organic Strawberries',),
 ('Organic Baby Spinach',),
 ('Organic Hass Avocado',),
 ('Organic Avocado',),
 ('Large Lemon',),
 ('Strawberries',),
 ('Limes',),
 ('Organic Whole Milk',),
 ('Organic Raspberries',),
 ('Organic Yellow Onion',),
 ('Organic Garlic',),
 ('Organic Zucchini',),
 ('Organic Blueberries',)]

Analysis: The store has really good bananas.

## Find the most commonly ordered products in the evening hours (18-23)

In [ ]:
%%sql
SELECT products.product_name
FROM orders
INNER JOIN order_products
ON order_products.order_id = orders.order_id
INNER JOIN products
ON products.product_id = order_products.product_id
WHERE orders.order_hour_of_day BETWEEN 18 AND 23
GROUP BY order_products.product_id, products.product_name
ORDER BY count(order_products.product_id) DESC
LIMIT 15

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana',),
 ('Bag of Organic Bananas',),
 ('Organic Strawberries',),
 ('Organic Baby Spinach',),
 ('Organic Hass Avocado',),
 ('Organic Avocado',),
 ('Organic Whole Milk',),
 ('Large Lemon',),
 ('Strawberries',),
 ('Organic Raspberries',),
 ('Limes',),
 ('Organic Blueberries',),
 ('Organic Zucchini',),
 ('Organic Yellow Onion',),
 ('Organic Garlic',)]

## Calculate products that have the highest percentage of sales in the evening hours

In [ ]:
%%sql
SELECT products.product_name
FROM orders
INNER JOIN order_products ON order_products.order_id = orders.order_id
INNER JOIN products ON products.product_id = order_products.product_id WHERE orders.order_hour_of_day BETWEEN 18 AND 23
GROUP BY order_products.product_id, products.product_name
ORDER BY count(order_products.product_id) DESC
LIMIT 15

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana',),
 ('Bag of Organic Bananas',),
 ('Organic Strawberries',),
 ('Organic Baby Spinach',),
 ('Organic Hass Avocado',),
 ('Organic Avocado',),
 ('Organic Whole Milk',),
 ('Large Lemon',),
 ('Strawberries',),
 ('Organic Raspberries',),
 ('Limes',),
 ('Organic Blueberries',),
 ('Organic Zucchini',),
 ('Organic Yellow Onion',),
 ('Organic Garlic',)]

## Advanced: This is extra credit that does not earn extra points.  

add_to_cart_order enumerates the order in which items were added to the cart for a particular *order*.  Which products are added to the cart first?  How does that change based on cutting off number of orders at 10, 100, 1000?  Is there a way to rank the items so that we find items that are likely to be the first item added to the cart without having to specify an arbitrary cut off.

[Hint](https://nbviewer.org/github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter4_TheGreatestTheoremNeverTold/Ch4_LawOfLargeNumbers_PyMC3.ipynb#Sorting!)

In [ ]:
%%sql
SELECT products.product_name FROM order_products
INNER JOIN products ON products.product_id=order_products.product_id WHERE order_products.add_to_cart_order = 1
GROUP BY products.product_name
LIMIT 15

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('All-Seasons Salt',),
 ('Pure Coconut Water With Orange',),
 ('Sparkling Orange Juice & Prickly Pear Beverage',),
 ('Peach Mango Juice',),
 ('Chocolate Fudge Layer Cake',),
 ('Overnight Diapers Size 6',),
 ('Rendered Duck Fat',),
 ('Pizza for One Suprema  Frozen Pizza',),
 ('Gluten Free Quinoa Three Cheese & Mushroom Blend',),
 ('Fresh Breath Oral Rinse Mild Mint',),
 ('Tri-Vi-Sol® Vitamins A-C-and D Supplement Drops for Infants',),
 ('Salted Caramel Lean Protein & Fiber Bar',),
 ('Fancy Feast Trout Feast Flaked Wet Cat Food',),
 ('Wheat Chex Cereal',),
 ('Nacho Cheese White Bean Chips',)]

These are some of the items that are added to cart first. Ranking items would not neccessarily help much (in my opinion) because the ranking can change very frequently.

Thanks for reading my notebook :) The end.